// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bodystyle {
  background-color: #e0f5f5;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  font-weight: bold;
  text-shadow: 5px 5px 1px #006400;
}
.index {
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
.indexbody {
  width:700px;
margin-right: auto;
margin-left : auto;
}
.square_btn1{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn1:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}
.square_btn2{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn2:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}
.content {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
    text-shadow: 2px 2px 1px #006400;
}
.tltable{
  text-align: center;
  margin: auto;
}
.each_message{
    padding: 10px;
    margin:auto;
    margin-bottom: 3px;
    color: #008080;
    background: white;
    box-shadow: 0 3px 5px  rgba(0, 0, 0, 0.22);
    border-color: #666;
    width: 500px;
}
.each_message p {
    margin: 0;
    padding: 0;
}
.name{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.id{
  color:#a9a9a9;
}
.date {
  color:#c0c0c0;
}
.timeline {
  overflow: hidden;
  width: 575px;
  margin:auto;
  float: left;
  padding: 1em 1em;
  margin: 5px;
  color: #008080;/*文字色*/
  background-color: #f5f5f5;
  border: solid 3px #008080;/*線*/
  border-radius: 10px;/*角の丸み*/
  box-shadow: 5px 5px 6px -2px;
}
.menu {
  padding-top: 20px;
  margin: 5px;
  font-weight: bold;
  color: #008080;/*文字色*/
  background-color: #f5f5f5;
  border: solid 3px #008080;/*線*/
  border-radius: 10px;/*角の丸み*/
  text-align: right;
  box-shadow: 5px 5px 6px -2px;
}
.profile {
  float:left;
  background-color: #f5f5f5;
  margin: 5px;
  width: 30%;
  padding: 0.5em 1em;
  color: #008080;/*文字色*/
  border: solid 3px #008080;/*線*/
  border-radius: 10px;
  box-shadow: 5px 5px 6px -2px;
}
.tweet{
    width: 600px;
    margin:auto;
    float: left;
    margin: 5px;
    font-weight: bold;
    color: #008080;/*文字色*/
    background-color: #f5f5f5;
    border: solid 3px #008080;/*線*/
    border-radius: 10px;/*角の丸み*/
    box-shadow: 5px 5px 6px -2px;
}
.pname {
  font-size: 20px;
  margin:10px;
  font-weight: bold;
}
.pid {

}
.ptitle {
  margin: 10px;
}
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}
#message_content {
  font-size: 15px;
  border: 2px solid #008080;
  border-radius: 20px;
  padding: 10px 10px;
  // width:500px;
  // height:100px;
}
#message_content:focus{
  outline: 0;
}
.btn {
  font-size: 20px;
}
.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #008080;/*背景色*/
    border-bottom: solid 2px #006400;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: 5px 5px 6px -2px;
    font-size: 18px;
    width:250px;
    margin-left: auto;
    border-radius: 20px;

}

.square_btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 5px 5px 6px -2px;
    outline: 0;
}
.square_btn:focus {
  outline: 0;
}
.p_thumbnail{
  width:100px;
  height:100px;
}
.p_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}
.p_icon_tweet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
.message_content {
}
.delete {
  float: right;
}
.menu_icon {
  width:50px;
  height:50px;
}
.square_btn3 {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #ffffff;
    background: #008080;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
}

.square_btn3:hover {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    color:#ffffff;
}
.each_image {
  float: left;
}
.each_content {
  overflow: hidden;
  padding-left: 10px;


}
.link_menu {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}
.link_menu:hover {
  color:#000;
  background-color: #f5f5f5;
}
.link_tweet {
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
  color: #666;
  float: right;
}
.link_tweet:hover {
  color:#000;
  background-color: #fff;
}
.link_write {
  text-decoration: none;
  margin:0px 20px 10px 0px;
  font-size: 25px;
  background-color: #f5f5f5;
  color: #666;
  float: right;
  border-radius: 10px;
}
.link_write:hover {
  color: #000;
  background-color: #666;
}
