// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bodystyle {
  background-color: #e0f5f5;
  display: block;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
}
.tltable{
  text-align: center;
  margin: auto;
}
.each_message{
    padding: 10px;
    margin:auto;
    margin-bottom: 3px;
    color: #008080;
    background: white;
    box-shadow: 0 3px 5px  rgba(0, 0, 0, 0.22);
    border-color: #666;
    width: 500px;
}
.each_message p {
    margin: 0;
    padding: 0;
}
.name{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.id{
  color:#a9a9a9;
}
.date {
  color:#c0c0c0;
}
.timeline{
    float: left;
    width: 600px;
    margin: 5px;
    font-weight: bold;
    color: #008080;/*文字色*/
    background-color: #f5f5f5;
    border: solid 3px #008080;/*線*/
    border-radius: 10px;/*角の丸み*/
    box-shadow: 5px 5px 6px -2px;
}
.menu {
  padding-top: 20px;
  margin: 5px;
  font-weight: bold;
  color: #008080;/*文字色*/
  background-color: #f5f5f5;
  border: solid 3px #008080;/*線*/
  border-radius: 10px;/*角の丸み*/
  text-align: right;
  box-shadow: 5px 5px 6px -2px;
}
.menu span{
  float: left;
  color: #666;
  font-size: 25px;
  margin-left: 10px;
}
.profile {
  background-color: #f5f5f5;
  margin: 5px;
  padding: 0.5em 1em;
  color: #008080;/*文字色*/
  border: solid 3px #008080;/*線*/
  border-radius: 10px;
  box-shadow: 5px 5px 6px -2px;
}
.tweet{
    padding:1em 1em;
    float: left;
    width: 600px;
    margin: 5px;
    font-weight: bold;
    color: #008080;/*文字色*/
    background-color: #f5f5f5;
    border: solid 3px #008080;/*線*/
    border-radius: 10px;/*角の丸み*/
    box-shadow: 5px 5px 6px -2px;
}
.pname {
  font-size: 20px;
  margin:10px;
  font-weight: bold;
}
.ptitle {
  margin: 10px;
}
#message_content {
  font-size: 15px;
  border: 2px solid #008080;
  border-radius: 20px;
  padding: 10px 10px;
  // width:500px;
  // height:100px;
}
#message_content:focus{
  outline: 0;
}
.btn {
  font-size: 20px;
}
.p_thumbnail{
  width:100px;
  height:100px;
}
.p_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}
.p_icon_tweet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
.delete {
  float: right;
}
.menu_icon {
  width:50px;
  height:50px;
}
.each_image {
  float: left;
}
.each_content {
  overflow: hidden;
  padding-left: 10px;
}
.link_menu {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}
.link_menu:hover {
  color:#000;
  background-color: #f5f5f5;
}
.link_tweet {
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
  color: #666;
  float: right;
}
.link_tweet:hover {
  color:#000;
  background-color: #fff;
}
.link_write {
  text-decoration: none;
  margin:0px 20px 10px 0px;
  font-size: 25px;
  background-color: #f5f5f5;
  color: #666;
  float: right;
  border-radius: 10px;
}
.link_write:hover {
  color: #000;
  background-color: #666;
}
.link_profile {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  float: right;
}
.link_profile:hover {
  color:#000;
  background-color: #f5f5f5;
}
.rec_user {
  position: absolute;
  background-color: #f5f5f5;
  margin: 5px;
  width: 30%;
  padding: 0.5em 1em;
  color: #008080;/*文字色*/
  border: solid 3px #008080;/*線*/
  border-radius: 10px;
  box-shadow: 5px 5px 6px -2px;
}
.left {
  float: left;
  width:35%;
}
.each_message_follow{
    padding: 10px;
    margin:auto;
    margin-bottom: 3px;
    color: #008080;
    background: white;
    box-shadow: 0 3px 5px  rgba(0, 0, 0, 0.22);
    border-color: #666;
    width: 350px;
}
.link_write_follow {
  text-decoration: none;
  margin:0px 20px 10px 0px;
  font-size: 20px;
  background-color: #f5f5f5;
  color: #666;
  float: right;
  border-radius: 10px;
}
.link_write_follow:hover {
  color: #000;
  background-color: #666;
}
